@tailwind base;
@tailwind components;
@tailwind utilities;

/* local font without ligature */

@font-face {
	font-family: 'TT Norms';
	src: url('../public/fonts/TT-Norms/400-regular-webfont.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
/* @font-face {
	font-family: 'TT Norms';
	src: url('../public/fonts/TT-Norms/400-italic-webfont.woff2')
		format('woff2');
	font-weight: normal;
	font-style: italic;
} */

@layer base {
	body {
		font-family: 'TT Norms';
		font-variant-ligatures: none !important;
	}
}
