---
import Base from '../layouts/Base.astro'
---

<Base>
		<h1 class="text-gray-500 font-light text-5xl">DESPIDO INJUSTIFICADO</h1>
		<h1 class="text-gray-500 font-normal">Astro</h1>
		<h1 class="text-gray-500 font-medium">Astro</h1>
		<h1 class="text-gray-500 font-semibold">Astro</h1>
		<h1 class="text-gray-500 font-bold">Astro</h1>
		<h1 class="text-gray-500 font-extrabold">Astro</h1>
		<h1 class="text-gray-500 font-black">Astro</h1>
		<h1 class="text-gray-500 font-light">Astro</h1>
		<h1 class="text-gray-500 font-normal">Astro</h1>
		<h1 class="text-gray-500 font-medium">Astro</h1>
		<h1 class="text-gray-500 font-semibold">Astro</h1>
		<h1 class="text-gray-500 font-bold">Astro</h1>
		<h1 class="text-gray-500 font-extrabold">Astro</h1>
		<h1 class="text-gray-500 font-black">Astro</h1>
</Base>
