---
import '../styles/main.css'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-ghost">
		<Navbar/>
		<h1 class="text-gray-500 font-light">Astro</h1>
		<h1 class="text-gray-500 font-normal">Astro</h1>
		<h1 class="text-gray-500 font-medium">Astro</h1>
		<h1 class="text-gray-500 font-semibold">Astro</h1>
		<h1 class="text-gray-500 font-bold">Astro</h1>
		<h1 class="text-gray-500 font-extrabold">Astro</h1>
		<h1 class="text-gray-500 font-black">Astro</h1>
		<Footer/>
	</body>
</html>
