---
import Base from '../layouts/Base.astro'
import ImgPrincipal from '/assets/index-imagen.png'
---

<Base>
		<section class="flex flex-row h-screen pt-20 px-4">
			<div>a</div>
			<div>b</div>
		</section>
</Base>
