---
import Base from '../layouts/Base.astro'
import ImgPrincipal from '/assets/index-imagen.png'
---

<Base>
		<section class="flex flex-row h-screen pt-20 px-4">
			<div class="bg-red-200 w-1/2 flex flex-col">
				<div>
					<p class="text-jet-1 text-5xl font-extrabold leading-snug tracking-normal p-4">Acercamos la justicia a los mexicanos, Por más soluciones a problemas</p>
				</div>
				<div>
					<p class="text-jet-1 ">Somos tus aliados para el peor momento.
					Nos indigna que solo 1 de cada 10 mexicanos puedan solucionar sus problemas legales. Estamos aquí para apoyarte hoy desde tu celular.</p>
				</div>
				<div class="flex flex-row gap-x-32">
					<button>Contacto</button>
					<button>Conoce más</button>
				</div>
			</div>
			<div class="bg-green-200 w-1/2">b</div>
		</section>
</Base>
