---
import Base from '../layouts/Base.astro'
---

<Base>
	<section class='flex flex-row h-screen pt-20 px-4'>

		<h1 class="text-gray-500 font-light text-5xl">REGISTRO DE MARCA</h1>
		</section>
</Base>
