---

---
<div class="bg-red-400 flex flex-row p-4 justify-between">
    <div class="bg-blue-400">logo</div>
    <div class="bg-orange-400">space</div>
    <div class="bg-green-400">
        <div class="flex flex-row gap-x-6">
            <a href="#">Despido injustificado</a>
            <a href="#">Registro de marca</a>
            <a href="#">Divorcio</a>
            <a href="#">Pensión alimenticia</a>
            <a href="#">Contacto</a>
        </div>
    </div>
</div>